* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('@/assets/fonts/SFProText-Regular.eot');
  src: url('@/assets/fonts/SFProText-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('@/assets/fonts/SFProText-Regular.woff2') format('woff2'),
    url('@/assets/fonts/SFProText-Regular.woff') format('woff'),
    url('./fonts/SFProText-Regular.ttf') format('ttf'),
    url('@/assets/fonts/SFProText-Regular.svg#SFProText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
button {
  font-family: 'SF Pro Text';
}

.no-scroll {
  overflow: hidden;
}
